In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.compose import (
    ColumnTransformer,
    TransformedTargetRegressor,
    make_column_transformer,
)
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, RidgeCV
from sklearn.metrics import make_scorer, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.svm import SVC

In [7]:
# read the data

heart_health = pd.read_csv('../heart_health_smoker/data/Heart_health.csv', index_col = 0)
heart_health.head()

,Name,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
ID,,,,,,,,,,,
1,John Doe,45,Male,175,80,120/80,200,90,No,3,0
2,Jane Smith,35,Female,160,65,110/70,180,80,No,2,0
3,Michael Johnson,55,Male,180,85,130/85,220,95,Yes,4,1
4,Sarah Brown,40,Female,165,70,115/75,190,85,No,3,0
5,David Lee,50,Male,170,75,125/80,210,92,Yes,2,1